<a href="https://colab.research.google.com/github/hannahkollmann/Belly-Button-Challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'],axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 1000].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greaterthan1 = classification_counts[classification_counts>1]
classification_counts_greaterthan1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
get_dummies_df = pd.get_dummies(application_df)
get_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,True,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
X = get_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_df["IS_SUCCESSFUL"].values



# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes1=80
hidden_nodes2=30
hidden_nodes3=1
nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 80)                3280

 dense_22 (Dense)            (None, 30)                2430

 dense_23 (Dense)            (None, 1)                 31

=================================================================
Total params: 5741 (22.43 KB)
Trainable params: 5741 (22.43 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.5782 - accuracy: 0.7195 - val_loss: 0.5500 - val_accuracy: 0.7372
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5607 - accuracy: 0.7278 - val_loss: 0.5531 - val_accuracy: 0.7346
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5578 - accuracy: 0.7280 - val_loss: 0.5500 - val_accuracy: 0.7357
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7294 - val_loss: 0.5486 - val_accuracy: 0.7357
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5546 - accuracy: 0.7303 - val_loss: 0.5485 - val_accuracy: 0.7352
Epoch 6/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5535 - accuracy: 0.7304 - val_loss: 0.5470 - val_accuracy: 0.7344
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7292 - val_loss: 0.5496 - val_accuracy: 0.7331
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7321 - val_loss: 0.5501 - val_accuracy: 0.7359
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7300 - val_loss: 0.5484 - val_accuracy: 0.7323
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7314 - val_loss: 0.5480 - val_accuracy: 0.7305
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7326 - val_loss: 0.5486 - val_accuracy: 0.7362
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7331 - val_loss: 0.5475 - val_accuracy: 0.7349
Epoch 13/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5496 - accuracy: 0.7325 - val_loss: 0.5496 - val_accuracy: 0.7349
Epoch 14/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7334 - val_loss: 0.5466 - val_accuracy: 0.7362
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7319 - val_loss: 0.5471 - val_accuracy: 0.7362
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7338 - val_loss: 0.5484 - val_accuracy: 0.7323
Epoch 17/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7336 - val_loss: 0.5463 - val_accuracy: 0.7372
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7344 - val_loss: 0.5464 - val_accuracy: 0.7349
Epoch 19/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7324 - val_loss: 0.5488 - val_accuracy: 0.7378
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7319 - val_loss: 0.5460 - val_accuracy: 0.7365
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7332 - val_loss: 0.5472 - val_accuracy: 0.7346
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7339 - val_loss: 0.5448 - val_accuracy: 0.7357
Epoch 23/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7329 - val_loss: 0.5495 - val_accuracy: 0.7354
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7346 - val_loss: 0.5437 - val_accuracy: 0.7357
Epoch 25/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7345 - val_loss: 0.5464 - val_accuracy: 0.7367
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7349 - val_loss: 0.5450 - val_accuracy: 0.7372
Epoch 27/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7349 - val_loss: 0.5479 - val_accuracy: 0.7362
Epoch 28/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5463 - accuracy: 0.7343 - val_loss: 0.5488 - val_accuracy: 0.7367
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7345 - val_loss: 0.5463 - val_accuracy: 0.7349
Epoch 30/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7358 - val_loss: 0.5462 - val_accuracy: 0.7365
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7352 - val_loss: 0.5455 - val_accuracy: 0.7370
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7362 - val_loss: 0.5478 - val_accuracy: 0.7359
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7361 - val_loss: 0.5472 - val_accuracy: 0.7328
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7347 - val_loss: 0.5479 - val_accuracy: 0.7331
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7361 - val_loss: 0.5462 - val_accuracy: 0.7328
Epoch 36/100
684/684 [==============================] - 4s 6ms/step - loss: 0.5443 - accuracy: 0.7341 - val_loss: 0.5489 - val_accuracy: 0.7354
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7361 - val_loss: 0.5470 - val_accuracy: 0.7334
Epoch 38/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7352 - val_loss: 0.5476 - val_accuracy: 0.7339
Epoch 39/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7363 - val_loss: 0.5489 - val_accuracy: 0.7328
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7363 - val_loss: 0.5459 - val_accuracy: 0.7354
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7362 - val_loss: 0.5475 - val_accuracy: 0.7346
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7364 - val_loss: 0.5463 - val_accuracy: 0.7362
Epoch 43/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5433 - accuracy: 0.7353 - val_loss: 0.5490 - val_accuracy: 0.7313
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7356 - val_loss: 0.5481 - val_accuracy: 0.7300
Epoch 45/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7355 - val_loss: 0.5471 - val_accuracy: 0.7346
Epoch 46/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7364 - val_loss: 0.5484 - val_accuracy: 0.7359
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7372 - val_loss: 0.5476 - val_accuracy: 0.7328
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7369 - val_loss: 0.5481 - val_accuracy: 0.7354
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7364 - val_loss: 0.5496 - val_accuracy: 0.7279
Epoch 50/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5432 - accuracy: 0.7372 - val_loss: 0.5472 - val_accuracy: 0.7370
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7373 - val_loss: 0.5466 - val_accuracy: 0.7365
Epoch 52/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7356 - val_loss: 0.5515 - val_accuracy: 0.7336
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7368 - val_loss: 0.5510 - val_accuracy: 0.7349
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7370 - val_loss: 0.5490 - val_accuracy: 0.7279
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7365 - val_loss: 0.5523 - val_accuracy: 0.7346
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7374 - val_loss: 0.5482 - val_accuracy: 0.7370
Epoch 57/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5420 - accuracy: 0.7388 - val_loss: 0.5501 - val_accuracy: 0.7344
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7369 - val_loss: 0.5485 - val_accuracy: 0.7352
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7367 - val_loss: 0.5511 - val_accuracy: 0.7357
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7362 - val_loss: 0.5494 - val_accuracy: 0.7354
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7384 - val_loss: 0.5481 - val_accuracy: 0.7370
Epoch 62/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7372 - val_loss: 0.5495 - val_accuracy: 0.7346
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7383 - val_loss: 0.5515 - val_accuracy: 0.7357
Epoch 64/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7375 - val_loss: 0.5491 - val_accuracy: 0.7378
Epoch 65/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7388 - val_loss: 0.5487 - val_accuracy: 0.7346
Epoch 66/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7380 - val_loss: 0.5492 - val_accuracy: 0.7352
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7375 - val_loss: 0.5506 - val_accuracy: 0.7365
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7368 - val_loss: 0.5522 - val_accuracy: 0.7359
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7373 - val_loss: 0.5523 - val_accuracy: 0.7354
Epoch 70/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7381 - val_loss: 0.5477 - val_accuracy: 0.7380
Epoch 71/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5408 - accuracy: 0.7378 - val_loss: 0.5489 - val_accuracy: 0.7357
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7384 - val_loss: 0.5489 - val_accuracy: 0.7336
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7370 - val_loss: 0.5489 - val_accuracy: 0.7346
Epoch 74/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7381 - val_loss: 0.5503 - val_accuracy: 0.7341
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7382 - val_loss: 0.5514 - val_accuracy: 0.7357
Epoch 76/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7375 - val_loss: 0.5524 - val_accuracy: 0.7357
Epoch 77/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7372 - val_loss: 0.5511 - val_accuracy: 0.7354
Epoch 78/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5404 - accuracy: 0.7373 - val_loss: 0.5527 - val_accuracy: 0.7349
Epoch 79/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5402 - accuracy: 0.7384 - val_loss: 0.5509 - val_accuracy: 0.7344
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7381 - val_loss: 0.5516 - val_accuracy: 0.7344
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7389 - val_loss: 0.5504 - val_accuracy: 0.7346
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7388 - val_loss: 0.5512 - val_accuracy: 0.7339
Epoch 83/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7384 - val_loss: 0.5513 - val_accuracy: 0.7359
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7379 - val_loss: 0.5537 - val_accuracy: 0.7344
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5402 - accuracy: 0.7378 - val_loss: 0.5522 - val_accuracy: 0.7352
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7379 - val_loss: 0.5520 - val_accuracy: 0.7367
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7380 - val_loss: 0.5537 - val_accuracy: 0.7352
Epoch 88/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7387 - val_loss: 0.5517 - val_accuracy: 0.7339
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7383 - val_loss: 0.5519 - val_accuracy: 0.7336
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7383 - val_loss: 0.5521 - val_accuracy: 0.7341
Epoch 91/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7387 - val_loss: 0.5541 - val_accuracy: 0.7362
Epoch 92/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5395 - accuracy: 0.7385 - val_loss: 0.5529 - val_accuracy: 0.7344
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7382 - val_loss: 0.5536 - val_accuracy: 0.7336
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7374 - val_loss: 0.5492 - val_accuracy: 0.7357
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7386 - val_loss: 0.5511 - val_accuracy: 0.7341
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7384 - val_loss: 0.5501 - val_accuracy: 0.7367
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7381 - val_loss: 0.5515 - val_accuracy: 0.7357
Epoch 98/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7373 - val_loss: 0.5535 - val_accuracy: 0.7339
Epoch 99/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5392 - accuracy: 0.7388 - val_loss: 0.5524 - val_accuracy: 0.7365
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7391 - val_loss: 0.5564 - val_accuracy: 0.7352

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5702 - accuracy: 0.7292 - 683ms/epoch - 3ms/step
Loss: 0.570240318775177, Accuracy: 0.7292128205299377

In [48]:
# Export our model to HDF5 file
from google.colab import files

nn.save("content/AlphabetSoupCharity_Optimization.h5")

In [45]:
# Export our model to Keras
nn.save("AlphabetSoupCharity_Optimization.keras")

In [49]:
# Download file
files.download("AlphabetSoupCharity_Optimization.h5")

FileNotFoundError: Cannot find file: AlphabetSoupCharity_Optimization.h5